# OSX
.DS_Store
.DS_Store?
.Spotlight-V100
._*
.Trashes
ehthumbs.db
Thumbs.db
/node_modules
node_modules/
/es6modules
es6modules
/package-lock.json
package-lock.json/
es6modules/node_modules/fsevents/node_modules/.bin/rc
es6modules/node_modules/fsevents/node_modules/.bin/nopt
es6modules/node_modules/.bin/which
es6modules/node_modules/.bin/webpack-cli
es6modules/node_modules/.bin/webpack
es6modules/node_modules/.bin/uglifyjs
es6modules/node_modules/.bin/sha.js
es6modules/node_modules/.bin/semver
es6modules/node_modules/.bin/rimraf
es6modules/node_modules/.bin/regjsparser
es6modules/node_modules/.bin/nvm
es6modules/node_modules/.bin/mkdirp
es6modules/node_modules/.bin/miller-rabin
es6modules/node_modules/.bin/loose-envify
es6modules/node_modules/.bin/json5
es6modules/node_modules/.bin/jsesc
es6modules/node_modules/.bin/import-local-fixture
es6modules/node_modules/.bin/he
es6modules/node_modules/.bin/errno
es6modules/node_modules/.bin/babylon
es6modules/node_modules/.bin/atob
es6modules/node_modules/.bin/acorn
